* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;  
}

img {
  width: 250px;
  height: 250px;
  border: 2px solid  gainsboro

}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;gap: 20px;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-top: 100px;

}

.images { 
  overflow: hidden;
  border-radius: 20px;

}
.images:hover img {
  transform: scale(1.2);
  transition: transform 700ms;  
}
.images:hover {
  background: rebeccapurple;
}
.head {
  background: gainsboro;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: row;
}
.list {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: row;

}
.list a {
  list-style-type: none;
  text-decoration: none;
  color: white;

  
}
.list li {
  list-style-type: none;
  background: rebeccapurple;
  border-radius: 100px;
  padding: 20px
}

.link:hover {
  transform: translateY(-30px);
  font-weight: bold;
  transition: transform 300ms
  
}
.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center; width: 80%;
  margin: auto;
  padding-top: 50px;
}
.tip {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center; 
}
.tip  p {
  font-size: 20px;
  color: red;

}
.one {
  filter:brightness(20%);
  border-radius: 300px;
  width: 300px;
  height: 300px;
}
.two{
  filter:brightness(100%);
  border-radius: 300px;
  width: 300px;
  height: 300px;
}
.three {
  border-radius: 300px;
  width: 300px;
  height: 300px;
  filter: blur(5px);
}
.three:hover {
  filter: blur(0px);
  filter: brightness(100%);
  filter: contrast(100%);
  filter: grayscale(50%)
}

h1 {
  text-align: center;
  padding-top:  100px;
  color: red;
  font-family: sans-serif;
  font-size: 40px;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 100px;
  gap:30px;
  

}

.btn {
  background: linear-gradient(
    to top,
    hsl(260deg 80% 40%),
    hsl(260deg 80% 50%)
  );
  color: white;
  font-size: 20px;
  
  transition: filter 600ms;
  width: 200px;
  padding: 20px 30px;
  border: none;
}

.btn:hover{
  filter: brightness(100%);
  filter: hue-rotate(60deg)
}
.btnTwo:hover {
  background: yellow;
}

.btnTwo {
  background: rebeccapurple;
  width: 200px;
  padding: 20px 30px;
  border: none;
  color: white;
  font-size: 20px
  
}
.warrper {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

}
.warrperOne {
  background: linear-gradient(
    red,
    yellow,
     orange,
    white


  );
  width: 200px;
  height: 200px;
  border-radius: 200px;
  position: relative;
}
.blur {
  position: absolute;
  filter: blur(50px);
  transform: scale(1.5);
 
}
header {
  background: hsl(0deg 0% 100% / 0.5);
   filter :backdrop-filter blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.backwarrper {
  position: relative;
}
.back {
  border-radius: 55% 45% 8% 10% /73% 16% 84% 27%;
  width: 200px;
  height: 100px;
  background: black;
  position: relative;
}

.backapp {
 position: absolute;
 filter: blur(20px);

}
